html {
	scroll-behavior: smooth;
	width: 100vw;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

body {
	position: absolute;
	height: 100%;
	background-color: #1d262d;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
	background-color: #1d262d;
	color: aliceblue;
}

/* .header {
	background: rgb(225, 33, 121);
	background: linear-gradient(118deg, rgba(225, 33, 121, 1) 19%, rgba(109, 25, 128, 1) 52%, rgba(9, 9, 121, 1) 94%);
} */

.nav-list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}

.nav-link {
	position: relative;
	padding: 0 20px;
	line-height: 50px;
	transition: .3s;
	text-decoration: none;
	color: rgb(242, 226, 226);
	font-size: 24px;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
	color: #17acc4;
	font-weight: bolder;
}

.footer-github {
	border-radius: 20px;
	animation-name: example;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes example {
	0% {
		background-color: #e12179;
	}

	25% {
		background-color: rgb(1, 139, 203);
	}

	50% {
		background-color: rgb(56, 1, 78);
	}

	100% {
		background-color: rgb(128, 0, 68);
	}
}

.footer-github:hover {
	color: #440f6a;
	color: #440f6a;
}


.contacts-item:hover {
	color: #e12179;
}

.nav-item {
	display: inline-block;
	position: relative;
	color: #311996;
}

.nav-item:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #0087ca;
	transform-origin: bottom right;
	transition: transform 0.5s ease-out;
}

.nav-item:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.toggle {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin-top: 5px;
	margin-left: auto;
	cursor: pointer;
	user-select: none;
	z-index: 15;
}

.toggle div {
	width: 80%;
	height: 2px;
	background: #fff;
	margin: 3px 0;
	z-index: 15;
}

.main {
	margin-bottom: auto;
}

.main-container {
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: stretch;
}


.section-profile {
	display: flex;
	width: 100%;
	padding: 50px 30px 35px;
	border-bottom: 15px solid rgb(215, 209, 201);
	flex-direction: column;
	align-items: center;
}

.section-profile-logo {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
	filter: grayscale(0.2) brightness(1.05);
	transition: .3s;
}

.section-profile-title {
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
	text-transform: uppercase;
	color: #17acc5;
}

.main-title {
	position: relative;
	padding: 0;
	margin-bottom: 20px;
	color: #4d2323;
	font-size: 32px;
	font-weight: 300;
	letter-spacing: 10px;
	line-height: 50px;
	word-spacing: 3px;
}

.main-title::after {
	content: "";
	position: absolute;
	bottom: -19px;
	left: 50%;
	margin-left: -70px;
	width: 140px;
	height: 2px;
	background-color: #e12179;
}

.section-subtitle {
	position: relative;
	margin-top: 10%;
	background: rgb(225, 33, 121);
	background: linear-gradient(118deg, rgba(225, 33, 121, 1) 19%, rgba(109, 25, 128, 1) 52%, rgba(9, 9, 121, 1) 94%);
	border-radius: 10%;
	width: 100%;
	line-height: 45px;
	font-weight: 400;
	letter-spacing: 2px;
}

a {
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.education {
	text-align: start;
	margin-left: 30px;
	line-height: 2;
}

#summary {
	display: flex;
	flex-direction: column;
}

.section {
	position: relative;
	justify-content: center;
	margin-left: 8px;
	padding: 10px;
	border-bottom: 2px solid #311996;
	justify-items: center;
}

.section-title {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 500;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	letter-spacing: 5px;
	color: #e12179;
}

.section-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.section-item {
	position: relative;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	padding-left: 30px;
}

.section-item-skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	padding: 10px;
}

.section-list-skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	list-style: none;
	content: none;
}

.svg {
	width: 32px;
	height: 32px;
	margin-right: 10px;
}

.section-item.contacts-item::before {
	list-style: none;
	content: none;
}

.contacts-item {
	display: flex;
	justify-content: center;
	margin: 10px;
	padding: 8px;
	align-items: center;
}

.contacts-item:before {
	content: "";
	position: absolute;
	top: 1px;
	left: 0px;
	width: 24px;
	height: 24px;
	background-size: contain;
	background-repeat: no-repeat;
}

p {
	display: block;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	margin: 0px 10px;
}

.project-section-item {
	text-align: center;
}

.project-section-item::before {
	content: none;
}

span {
	color: #0087ca;
}

.pre {
	padding: 0;
	margin: 0;
	text-align: center;
}

code {
	padding: 0;
	margin: 0;
	text-align: center;
	width: 100px;
}

#projects {
	all: none;
	text-align: center;
}

img {
	text-align: center;
}

.project-img {
	margin: 20px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gradient-button {
	text-decoration: none;
	display: inline-block;
	color: white;
	padding: 20px 30px;
	margin: 10px 20px;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-image: linear-gradient(118deg, rgba(225, 33, 121, 1) 19%, rgba(109, 25, 128, 1) 52%, rgba(9, 9, 121, 1) 94%);
	background-size: 200% auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, .1);
	transition: .5s;
}

.gradient-button:hover {
	background-position: right center;
}

.footer {
	position: relative;
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(118deg, rgb(225, 33, 121) 19%, rgb(109, 25, 128) 52%, rgb(9, 9, 121) 94%);
	background-size: 200%;
	box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
	transition: all 0.5s ease 0s;
	padding: 20px;
	text-align: center;
}

.footer-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.languages__list {
	display: flex;
	font-size: 18px;
	flex-direction: column;
	align-items: center;
}

.languages__title {
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	line-height: 2.5;
	font-weight: 600;
}

dd {
	display: block;
	margin-inline-start: 10px;
}

#par {
	display: block;
	font-size: 1.17em;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	margin-top: 10%;
	font-weight: bolder;
}

#particles-js {
	position: fixed;
	width: 100%;
	height: 99%;
	background-color: #1d262d;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.count-particles {
	background: #000022;
	position: absolute;
	top: 48px;
	left: 0;
	width: 80px;
	color: #e12179;
	font-size: .8em;
	text-align: left;
	text-indent: 4px;
	line-height: 14px;
	padding-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.js-count-particles {
	font-size: 1.1em;
}

#stats,
.count-particles {
	-webkit-user-select: none;
}

#stats {
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}

.count-particles {
	border-radius: 0 0 3px 3px;
}

.top-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #FFF;
	padding: 1em;
}

.menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.menu>li {
	margin: 0 1rem;
	overflow: hidden;
}

.menu-button-container {
	display: none;
	margin-left: 10px;
	height: 100%;
	width: 30px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#menu-toggle {
	display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
	display: block;
	background-color: #fff;
	position: absolute;
	height: 4px;
	width: 30px;
	margin-top: 20px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.menu-button::before {
	content: '';
	margin-top: -8px;
}

.menu-button::after {
	content: '';
	margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
	background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
	margin-top: 0px;
	transform: rotate(-405deg);
}
h4 {
	display: none;
}
@media (max-width: 700px) {
	.menu-button-container {
		display: flex;
	}

	.menu {
		position: absolute;
		top: 0;
		margin-top: 50px;
		left: 0;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	#menu-toggle~.menu li {
		height: 0;
		margin: 0;
		padding: 0;
		border: 0;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	#menu-toggle:checked~.menu li {
		border: 1px solid #333;
		height: 2.5em;
		padding: 0.5em;
		max-width: 300px;
		margin-right: auto;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
		background-image: linear-gradient(118deg, rgb(225, 33, 121) 19%, rgb(109, 25, 128) 52%, rgb(9, 9, 121) 94%);
		z-index: 1;
	}

	.menu>li {
		display: flex;
		margin: 0px;
		padding: 0.5em 0px;
		width: 100%;
		color: white;
		background-color: rgb(34, 34, 34);
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.menu>li:not(:last-child) {
		border-bottom: 1px solid #444;
	}
}

@media (max-width: 620px) {
	.main-container {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 1fr;
	}

	.project-img {
		width: 400px;
	}

	.pre {
		width: auto;
	}

	.section-item::before {
		list-style: none;
		content: none;
	}
}

@media (max-width: 420px) {
	.project-img {
		width: 290px;
		margin: 5px;
	}

	.section-title {
		font-size: 20px;
	}
}

@media (max-width: 300px) {
	.project-img {
		width: 290px;
	}
}